.auth-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1c1c;
  background-image: url('./image5.jpg');
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  position: relative;
}

.auth-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Затемнение для улучшения читаемости текста */
  z-index: 1;
}

.auth-box { 
  position: relative;
  z-index: 2;
  border-radius: 20px; 
  text-align: center;
  color: #d1d1d1;
  max-width: 400px; /* Максимальная ширина для лучшего отображения */ 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Разделяем верхний и нижний блок */
}

.nadpis {
  margin-top: 20px; /* Отступ сверху для заголовка */
}

.auth-h1 { 
  color: #d1d1d1;
  font-size: 3.5em; 
  margin-bottom: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.vtorie {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px; /* Отступ от низа */
}

.auth-p { 
  color: #d1d1d1;
  font-size: 1.2em;
  margin-bottom: 40px;
  text-align: center;
} 

.login-button, .register-button { 
  display: block; 
  width: 100%; 
  padding: 15px;
  margin: 10px 0;
  font-size: 1.2em;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} 

.login-button { 
  background-color: #ffcc00;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background-color: #e6b800;
}

.register-button { 
  background: linear-gradient(180deg, #d1d1d1 0%, #d8d8d8 100%);
  padding: 15px;
  border-radius: 22px;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background: none;
  color: #ffffff;
}

@media (max-width: 768px) { 
  .auth-h1 { 
    font-size: 3em; 
    padding-top: 130px;
  }

  .auth-p { 
    color: #ffffff;
    padding-top: 40px;
    font-weight: 600;
    font-size: 1.6em;
    text-align: start;
  }

  

  .auth-box { 
    border-radius: 15px;
  }
} 

@media (max-width: 480px) { 
  

  .auth-box { 
    height: 100%;
  }

  .vtorie {
    padding: 20px;
    justify-content: flex-end;
  }
}
