.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #18181d;
  padding: 5px 0;
  z-index: 100;
  align-items: center;
}

.footer-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.footer-icon img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* Makes icon white */
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.footer-icon:hover img {
  opacity: 1;
  filter: brightness(4) invert(10); /* Makes icon brighter on hover */
}

/* Style for the central cart icon */
.footer-icon.cart {
  background: linear-gradient(180deg, #E1D24A 0%, #C69223 100%);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
}

.footer-icon.cart img {
  width: 30px;
  height: 30px;
}
