
body {
  background-color: #18181d;
}

.loved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18181d;
  color: white;
  padding:0px 20px;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}
.loved-header {
  display: flex;
  align-items: center; /* Центрируем по вертикали */
  justify-content: space-between; /* Распределяем пространство между элементами */
}
.loved-back-button {
  width: 54px;
  height: 54px;
  border-radius: 10px;
  background: linear-gradient(180deg, #E1D24A 0%, #C69233 100%);
  border: none;
  cursor: pointer;
}

.loved-title {
  flex-grow: 1; /* Позволяет заголовку занимать доступное пространство */
  text-align: center; /* Центрируем текст заголовка */
  font-size: 34px; /* Размер заголовка */
font-weight: 500;
line-height: 24.2px;
}


  
  .loved-items {
    
    margin-top: 20px;
    display: flex; /* Измените на flex */
    flex-direction: column; /* Устанавливаем вертикальное направление */
    align-items: center;
  }
  
  .loved-item {
    display: flex;
    align-items: center; /* Центрируем содержимое по вертикали */
    justify-content: space-between; /* Устанавливаем пространство между элементами */
    width: 500px; /* Ширина контейнера */
    height: 96px; /* Высота контейнера */
    background-color: #22222A; /* Цвет фона для элемента */
    border-radius: 10px; /* Закругленные углы */
    padding: 10px;
    margin-bottom: 10px; /* Отступ между элементами */
    gap: 10px; /* Пробел между изображением и деталями */
    opacity: 1; /* Прозрачность */
  }
  .imgg{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
  }
  img{
    width: 100%; /* Ширина изображения */
    border-radius: 10px; /* Закругленные углы для изображения */
  }
  .loved-ax img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1); /* Makes icon white */
    transition: filter 0.3s ease, opacity 0.3s ease;
  }
  
  .loved-ax:hover img {
    opacity: 1;
    filter: brightness(4) invert(10); /* Makes icon brighter on hover */
  }
  
  .loved-h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 14.36px;
    text-align: left;
    padding: 0px;
    margin: 10px 0px;
  }
  
  .loved-p {
    font-size: 15px;
    font-weight: 500;
    line-height: 10.52px;
    text-align: left;
    color: #6A6A6E;
  }
  
  .loved-item-details {
    width: 400px;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: center; /* Центрируем элементы по вертикали */
  }
  .down{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .muni {
    display: flex;
    justify-content: space-between;
  }
  
  .loved-item-price, .loved-item-weight {
    margin: 5px 0; /* Отступы для цен и веса */
  }
  .loved-ax{
    display: flex;
    justify-content: space-between;
  }
  
  .loved-item-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    padding: 0px;
    margin: 0px;
  }
  
  
  .heart-icon, .lock-icon {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    padding: 0px;
    margin: 0px;
  }
  