@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.menu-container,
.catalog-container {
    padding: 20px;
    
    font-family: 'Inter', sans-serif;
}
.menu-container{
    margin-bottom: 40px;
}

.catalog-title {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    align-items: center;
}

.view-all-button {
    padding: 10px 20px;
    border: none;
    color: #f4ce42;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;
}

.view-all-button:hover {
    background-color: #333;
}

.catalog-item {
    display: flex;
    align-items: center;
    background-color: #22222A;
    color: #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.catalog-item:hover {
    background-color: #2a2a2f;
    transform: translateY(-5px); /* Lift effect */
}

.catalog-icon {
    width: 40px;
    height: 40px;
    filter: brightness(1.5) invert(0.5);
    transition: filter 0.4s ease, transform 0.4s ease;
}

.catalog-item:hover .catalog-icon {
    filter: brightness(0) invert(1);
    transform: scale(1.2); /* Slightly enlarge icon */
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-item {
    background-color: #22222A;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 150px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
    cursor: pointer;
}

.menu-item:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    background-color: #2a2a2f;
}

.menu-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.menu-item:hover .menu-item-image {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.menu-item-info h3 {
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
}

.menu-opisanie {
    font-size: 12px;
    color: #a5a5a5;
    margin: 5px 0;
}

.menu-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-price {
    font-weight: bold;
    font-size: 16px;
    color: #f4ce42;
}

.menu-weight {
    font-size: 12px;
    color: #6a6a6e;
    background-color: #16151B;
    padding: 2px 5px;
    border-radius: 5px;
}

.menu-add-to-cart-button {
    padding: 5px 10px;
    background: linear-gradient(180deg, #E1D24A 0%, #C69233 100%);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-add-to-cart-button:hover {
    background-color: #333333;
    color: #fff;
}
