.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Убедитесь, что модальное окно поверх других элементов */
}

.modal-content {
    background: #2b2b2b; /* Темный фон для модального окна */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: white; /* Цвет текста */
}

.modal-title {
    font-size: 24px;
    margin: 10px 0;
}

.modal-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.modal-description {
    font-size: 14px; /* Размер описания */
    margin-bottom: 10px;
}

.modal-details {
    display: flex;
    justify-content: space-between; /* Распределяем элементы в блоке */
    align-items: center;
    margin: 10px 0;
}

.modal-weight {
    font-size: 14px; /* Размер текста веса */
}

.modal-price {
    font-size: 16px; /* Размер текста цены */
    font-weight: bold; /* Жирный текст для цены */
}

.modal-quantity {
    display: flex;
    align-items: center;
}

.modal-quantity-button {
    background: #f39c12; /* Цвет кнопки */
    border: none;
    color: white;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-add-to-cart-button {
    background: #f39c12; /* Цвет кнопки */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-close-button {
    background: #e74c3c; /* Красный цвет для кнопки закрытия */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.modal-add-to-cart-button:hover,
.modal-close-button:hover {
    opacity: 0.8; /* Эффект наведения */
}
