.orders-header h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
  margin: 10px;
}

/* Style for the back button */
.back-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.back-button img {
  width: 24px;
  height: 24px;
}
body {
  background-color: #18181d;
}

/* Updated orders container */
.orders-container {
  background-color: #18181d;
  color: white;
  padding:0px 20px 50px 20px;
  
  font-family: 'Inter', sans-serif;
  height: 100%;
}
.orders-status-filter{
  margin: 10px 0px;
}
/* Enhanced button styles */
.orders-status-filter button {
  background: none;
  border: none;
  color: #6A6A6E;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.orders-status-filter button:hover {
  background-color: #333;
  color: #f4ce42;
  transform: translateY(-3px);
}
.orders-status-filter button.active {
  background-color: #f4ce42;
  color: black;
}

/* Order item animation */
.order-item {
  background-color: #22222A;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.order-item:hover {
  background-color: #33333a;
  transform: scale(1.02);
}

/* Order icon colors */
.order-icon.gold {
  background-color: #f4ce42;
}
.order-icon.purple {
  background-color: purple;
}
.order-icon.blue {
  background-color: #2196F3;
}
.order-icon.red {
  background-color: #E53935;
}

/* Order details (collapsible section) */
.order-details {
  margin-top: 10px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order-details.show {
  animation: expand 0.5s ease-in-out;
}
.order-details.hide {
  display: none;
}

/* Animations */
@keyframes expand {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}