.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.header-left h1 {
  color: #FFFFFF;
  font-size: 24px;
  margin: 0;
}

.header-divider {
  width: 95%;
  height: 4px;
  background: linear-gradient(180deg, #E1D24A 0%, #C69233 100%);
  margin-top: 8px;
  position: absolute;
}

.header-right {
  display: flex;
  gap: 15px;
  border-radius: 50px;
}

.header-icon {
  width: 36px;
  height: 36px;
  border-radius: 50px;
}

.search-button, .profile-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-button:hover, .profile-button:hover {
  opacity: 0.8;
}




/* Modal overlay styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background with opacity */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above all content */
}

/* Full-screen image styling */
.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Smooth transition when showing modal */
.modal.fade-in {
  animation: fadeIn 0.3s ease;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
